<?xml version="1.0"?>
<robot name="exam_robot">
  <!-- Материалы -->
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>
  
  <!-- BASE LINK -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.3 0.2 0.1"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  
  <!-- ЛЕВОЕ ПЕРЕДНЕЕ КОЛЕСО -->
  <link name="wheel_left_front_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  
  <joint name="base_to_left_front_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_left_front_link"/>
    <origin xyz="0.1 0.1 0"/>
  </joint>
  
  <!-- ПРАВОЕ ПЕРЕДНЕЕ КОЛЕСО -->
  <link name="wheel_right_front_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  
  <joint name="base_to_right_front_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_right_front_link"/>
    <origin xyz="0.1 -0.1 0"/>
  </joint>
  
  <!-- ЛЕВОЕ ЗАДНЕЕ КОЛЕСО -->
  <link name="wheel_left_back_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  
  <joint name="base_to_left_back_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_left_back_link"/>
    <origin xyz="-0.1 0.1 0"/>
  </joint>
  
  <!-- ПРАВОЕ ЗАДНЕЕ КОЛЕСО -->
  <link name="wheel_right_back_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  
  <joint name="base_to_right_back_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_right_back_link"/>
    <origin xyz="-0.1 -0.1 0"/>
  </joint>
  
  <!-- СЕНСОР -->
  <link name="sensor_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.1"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
  
  <joint name="base_to_sensor" type="fixed">
    <parent link="base_link"/>
    <child link="sensor_link"/>
    <origin xyz="0.15 0 0.1"/>
  </joint>
</robot>